@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'BMJUA';
    overflow-x: hidden;
    background: #f5efeb;
}

#result{
    width: 100%;
    height: 100vh;
}

#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading > .loading-img{
    width: 330px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #ea7a7a;
    position: relative;
    z-index: 10000;
}

.header > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8rem;
}

.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.box{
    width: 350px;
    height: auto;
    margin: 0 auto;
}

.result_box{
    width: 270px;
    height: 370px;
    position: relative;
    margin: 50px auto 0 auto;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(230,227,255,0.5);
    z-index: 50;
}

.result_box > .result{
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.result_box > .result > h1{
    font-size: 3rem;
    font-weight: 100;
}

.result_box > img{
    position: relative;
    margin-top: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: 216px;
}

.img-wrap{
    position: relative;
}

.img-wrap > .camera{
    width: 45px;
    position: absolute;
    top: 120px;
    right: 0px;
}

.img-wrap > .tri{
    width: 268px;
    position: absolute;
    top: -130px;
    right: 35px;
    transform: rotate(4deg);
}

.main > .hashtag{
    position: relative;
    margin-top: 20px;
    margin-bottom: 120px;
    text-align: center;
    white-space: nowrap;
    font-family: 'NanumBarunpen';
    font-size: 1.6rem;
    font-weight: bold;
    z-index: 50;
}

.description{
    width: 300px;
    margin: 0px auto 50px auto;
}

.description > ul{
    font-family: 'NanumBarunpen';
    font-size: 1.5rem;
    font-weight: 100;
}
.description > ul > li{
    margin-bottom: 18px;
}

.movie{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

.movie > .goodMovie{
    transform: rotate(2deg);
    width: 300px;
    border: 3px solid #ed97a6;
}

.movie > .goodMovie > img{
    width: 250px;
    position: absolute;
    right: -20px;
    transform: rotate(1.2deg);
    top: -10px;
    z-index: 0;
}

.movie > .goodMovie > img + span{
    position: absolute;
    font-size: 2.3rem;
    text-align: right;
    right: 0px;
    top: 5px;
    z-index: 1;
}

.movie > .goodMovie > ul{
    list-style: none;
    padding: 0 0 15px 25px;
    margin-top: 25px;
}

.movie > .goodMovie > ul > li{
    font-size: 2rem;
    line-height: 30px;
    text-align: left;
}

.movie > .badMovie{
    margin-top: 50px;
    transform: rotate(-2deg);
    width: 300px;
    border: 3px solid #7381b0;
}

.movie > .badMovie > img{
    width: 250px;
    position: absolute;
    left: -20px;
    transform: rotate(-1.2deg);
    top: -10px;
    z-index: 0;
}

.movie > .badMovie > img + span{
    position: absolute;
    font-size: 2.3rem;
    text-align: left;
    left: 0px;
    top: 5px;
    z-index: 1;
}

.movie > .badMovie > ul{
    list-style: none;
    padding: 0 25px 15px 0;
    margin-top: 25px;
}

.movie > .badMovie > ul > li{
    font-size: 2rem;
    line-height: 30px;
    text-align: right;
}

.btn{
    position: relative;
    text-align: center;
    margin: 50px 0;
}

.btn > a {
    text-decoration: none;
    line-height: 55px;
}

.btn > a > input {
    display: none;
}

.btn > a > input[id ="again_btn"] + label {
    white-space: nowrap;
    cursor: pointer;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: 'BMJUA';
    color: white;
    background-color: #ea7a7a;
    padding: 10px 50px;
    border-radius: 100px;
}

.btn > a > input[id ="collection_btn"] + label {
    white-space: nowrap;
    cursor: pointer;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: 'BMJUA';
    color: black;
    background-color: none;
    border: 3px solid #ea7a7a;
    padding: 10px 50px;
    border-radius: 100px;
}

#sns{
    margin: 50px;
}